# Ignore everything
*

# But keep these directories (and all their contents)…
!/.gitignore
!/zsh/
!/hypr/
!/nvim/
!/wezterm/
!/zsh/**
!/hypr/**
!/nvim/**
!/wezterm/**
!/waybar
!/waybar/**
!/rofi/
!/rofi/**
!/formatters
!/formatters/**


!starship.toml



# …except the nested oh-my-zsh repo
/zsh/oh-my-zsh/
/zsh/oh-my-zsh/**
